* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Montserrat", sans-serif;
  color: #7b7b7b;
  height: 100%;
  overflow-x: hidden;
  line-height: 1.8;
  font-size: 13px;
}
.colorful-line {
  margin-bottom: 20px;
  width: 100%;
  height: 1.5px;
  background: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
}
.Naviga-bar {
  cursor: pointer;
  height: 40px;
  align-items: center;
  justify-content: center;
  display: flex;
  text-decoration: none;
  color: #7b7b7b;
}
.dropdown:hover .Naviga-bar {
  color: tomato;
}
.dropdown-menu:hover .Naviga-bar {
  color: tomato;
}
.Naviga-icon:hover {
  color: tomato;
  cursor: pointer;
}
.border-icon-about {
  height: 30px;
  width: 30px;
  border: solid 1px #cfcdcd;
  align-items: center;
  justify-content: center;
  display: flex;
  cursor: pointer;
}
.label-border-right {
  border-style: double;
  border-color: #e7e4e4;
  font-size: 11px;
  padding: 7px;
  cursor: pointer;
}

.label-border-right:hover {
  background-color: tomato;
  border-color: tomato;
  color: white;
}
.label-border-footer {
  border-style: double;
  border-color: #e7e4e4;
  background-color: azure;
  font-size: 11px;
  padding: 7px;
  color: #7b7b7b;
  cursor: pointer;
}
.label-border-footer:hover {
  background-color: tomato;
  border-color: tomato;
  color: white;
}
.label-border-bottom {
  border-bottom: 1px solid #e7e4e4;
  font-size: 11px;
  padding: 7px;
  cursor: pointer;
  font-size: 12px;
}
.grid-container {
  display: grid;
  grid-template-columns: 31% 31% 31%;
  grid-template-rows: 100% 100%;
  gap: 30px;
  width: 100%;
  padding: 70px;
}
.grid-item {
  height: 100%;
  width: 100%;
  color: white;
  cursor: pointer;
}
.hover-bottom-popular-post:hover {
  color: black !important;
  cursor: pointer;
}
.hover-footer-populars-post:hover {
  color: tomato !important;
  cursor: pointer;
}
.hover-button-send:hover {
  background-color: #5a5af1 !important;
  cursor: pointer;
}
#myBtn {
  opacity: 0;
  position: fixed;
  transition: all 0.3s;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 14px;
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0.251);
  color: white;
  cursor: pointer;
  padding: 12px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: tomato;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  position: absolute;
  top: 50px;
  background-color: white;
  display: none;
  border: 1px solid #e8e8e8;
}
.dropdown-content::before {
  content: "";
  display: block;
  width: 100%;
  height: 20px;
  top: -10px;
  position: absolute;
}
.dropdown-content a {
  color: #7b7b7b;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  width: 230px;
  font-size: 12px;
  border-bottom: 1px solid #e8e8e8;
}
.dropdown-content a:hover {
  color: tomato;
}
.dropdown:hover .dropdown-content {
  display: block;
  top: 43px;
  visibility: visible;
}
.sub-dropdown-item {
  display: none;
  position: absolute;
  top: 0px;
  right: -79%;
  border: 1px solid #e8e8e8;
  background-color: white;
}

.sub-dropdown-item a {
  color: #7b7b7b;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  width: 180px;
  font-size: 12px;
}

.sub-dropdown-item a:hover {
  color: tomato;
}
.sub-menu:hover .sub-dropdown-item {
  display: block;
}
.sub-menu:hover .sub-menu-with-subs {
  color: tomato;
}

.label-border-readmore {
  border-style: double;
  border-color: #e7e4e4;
  font-size: 11px;
  padding: 7px;
  width: 30%;
  text-align: center;
  transition: all 0.3s;
}
.label-border-readmore:hover {
  color: tomato;
  border-color: tomato;
  cursor: pointer;
}
.border-image-home {
  border: 1px solid gainsboro;
  height: fit-content;
}
.border-icon-page {
  border-style: double;
  border-color: #e7e4e4;
  font-size: 13px;
  padding: 5px;
  width: 5%;
  text-align: center;
  transition: all 0.3s;
  cursor: pointer;
  color: #7b7b7b;
  font-weight: 1000;
  text-decoration: none;
}
.border-icon-page:hover {
  border-color: black;
  color: black;
}
.border-icon-image-navigation {
  border: 1px solid gainsboro;
  padding: 8px;
  font-size: 13px;
}

.menu-share {
  display: flex;
  gap: 5px;
  opacity: 0;
  transition: all 0.3s;
  color: black;
}
.menu-share.active {
  opacity: 1;
}
.dropdown-menu {
  position: relative;
  display: inline-block;
}
.dropdown-content-mega-menu {
  position: absolute;
  transform: translate(-38.1%, 0);
  top: 50px;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 2;
  transition: all 0.3s;
  opacity: 0;
  visibility: hidden;
  display: flex;
  gap: 40px;
  padding: 30px 40px 50px;
}
.dropdown-content-mega-menu-image {
  color: #7b7b7b;
  width: 185px;
  height: 200px;
}
.dropdown-content-mega-menu-image:hover {
  color: tomato !important;
}
.dropdown-menu:hover .dropdown-content-mega-menu {
  opacity: 1;
  top: 40px;
  visibility: visible;
}
.style-div-mega-menu {
  display: grid;
  gap: 10px;
  text-align: center;
}
.style-text-mega-menu:hover {
  color: tomato;
  cursor: pointer;
}
.style-title:hover {
  color: tomato !important;
  cursor: pointer;
}
.border-image-home:hover .image-name-left {
  top: 10px !important;
}
.border-image-home:hover .image-name-right {
  right: 10px !important;
}
.search-funtion {
  display: flex;
  gap: 5px;
  opacity: 0;
  transition: all 0.3s;
  color: #888;
}
.search-funtion.active {
  opacity: 1;
}
